.popoUpWindow {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: aliceblue;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font-size: medium;
  font-weight: 700;
  color: rgb(25, 17, 17);
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.5s ease-out forwards, fadeOut 0.5s ease-in 2s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
